[submodule "openel-arduino"]
	path = openel-arduino
	url = https://github.com/openel/openel-arduino.git
[submodule "hakoniwa-ros2sim"]
	path = hakoniwa-ros2sim
	url = https://github.com/toppers/hakoniwa-ros2sim.git
[submodule "hakoniwa-ros2pdu"]
	path = hakoniwa-ros2pdu
	url = https://github.com/toppers/hakoniwa-ros2pdu.git
[submodule "hakoniwa-core-cpp-client"]
	path = hakoniwa-core-cpp-client
	url = https://github.com/toppers/hakoniwa-core-cpp-client.git
